<div class="section-title search">
    <div class="container-fluid">
        <nav class="navbar navbar-content navbar-light p-0">
            <span class="d-inline-block navbar-brand mb-0 text-uppercase">Home <span>&#187;</span> Location</span>
            <form class="form-inline float-md-right d-inline-block">
                <input class="form-control" type="text" id="search-input" placeholder="Search this website..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="button">Search</button>
            </form>
        </nav>
    </div>
</div>
</div>
<span class="gradient-line"></span>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="info-parts">
                    <h5 class="part-title mb-1">Address</h5>
                    <div class="info-location">888 E Tahquitz Canyon Way</div>
                    <div class="info-location">Palm Springs, CA 92262</div>
                </div>
                <div class="info-parts">
                    <h5 class="part-title mb-1">Houers of operation</h5>
                    <div class="info-location">MONDAY-FRIDAY: 8am-6pm</div>
                    <div class="info-location">SATURDAY-SUDAY: 8am-10pm</div>
                </div>
                <div class="info-parts">
                    <h5 class="part-title mb-1">Contact Info</h5>
                    <div class="info-location">EMAIL:info@mycuisine.com</div>
                    <div class="info-location">TELEFONE: 754-234-6643</div>
                    <div class="info-location">FAX: 343-664-2234</div>
                </div>

            </div>
            <div class="col-md-8 ml-auto">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=888%20E%20Tahquitz%20Canyon%20Way%20Palm%20Springs&key=AIzaSyA30gTZgdEDO-4X0Y-nroAlnxJlf0aZlJs"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="gradient-line"></span>
