<h5 class="text-uppercase">Recent posts</h5>
<div class="shadow">
    <ul class="list-unstyled">
        {{#each recentPosts}}
        <li><a href="#/meal/{{title}}" title="meal">{{title}}</a></li>
        {{/each}}
    </ul>
</div>