<h5 class="text-uppercase">Recent comments</h5>
<div class="shadow">
    <ul class="list-unstyled">
        {{#each recentComments}}
        <li><a href="#/meal/{{title}}" title="meal">{{name}}</a></li>
        {{/each}}
    </ul>
</div>